<!-- header -->
<header class="main-header {{ className }}">
  <div class="flex justify-between items-center">
    <a href="/" class="lg">
      <img src="/images/lg-okfn.svg" class="h-[5.625rem]" alt="Open Knowledge Foundation">
    </a>

    <nav>
      <ul>
        <li>
          <a href="" class="labeled">
            <span>Who we are</span>
          </a>

          <ul class="submenu">
            <li>
              <a href="">Our Team</a>
            </li>
            <li>
              <a href="">Our Board</a>
              <ul>
                <li><a href="">Subitem</a></li>
                <li><a href="">Subitem</a></li>
              </ul>
            </li>
            <li>
              <a href="">Governance</a>
            </li>
            <li>
              <a href="">Our Funders</a>
            </li>
            <li>
              <a href="">Our History</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="" class="labeled">
            <span>Tools</span>
          </a>
          <ul class="submenu">
            <li>
              <a href="">The Open Definition</a>
            </li>
            <li>
              <a href="">Open Standards</a>
            </li>
            <li>
              <a href="">Open Data Commons</a>
            </li>
            <li>
              <a href="">CKAN</a>
            </li>
            <li>
              <a href="">Frictionless Data</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="" class="labeled">
            <span>Services</span>
          </a>
          <ul class="submenu">
            <li>
              <a href="">Tech Services</a>
            </li>
            <li>
              <a href="">Consultancy Services</a>
            </li>
            <li>
              <a href="">School of Data</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="" class="labeled">
            <span>Global movement</span>
          </a>
          <ul class="submenu">
            <li>
              <a href="">The Open Knowledge Network</a>
            </li>
            <li>
              <a href="">Project Repository</a>
            </li>
            <li>
              <a href="">Global Directory</a>
            </li>
            <li>
              <a href="">Open Data Day</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="" class="labeled">
            <span>News</span>
          </a>
          <ul class="submenu">
            <li>
              <a href="">Events Calendar</a>
            </li>
          </ul>
        </li>
        <li class="switcher search">
          <input type="checkbox" id="switch-search" class="switcher__indicator">
          <label for="switch-search" class="switcher__trigger icon">
            <span>
              <img src="/images/icons/header-search.svg" class="search__open" alt="Search">
              <img src="/images/icons/close.svg" class="search__close" alt="Close search">
          </span>
          </label>
          <form action="" class="switcher__target form main-header__search">
            <div class="input-fake flex">
              <input class="form-control flex-grow" type="text" />
              <button class="flex-shrink-0">
                <img src="/images/icons/header-search.svg" class="max-w-none" alt="Search">
              </button>
            </div>
          </form>
        </li>
        <li>
          <label class="icon">
            <span><img src="/images/icons/header-globe.svg" alt="Globe"></span>
          </label>
          <ul class="submenu">
            <li><a href="">EN</a></li>
            <li><a href="">ES</a></li>
            <li><a href="">PT-BR</a></li>
            <li><a href="">FR</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- /header -->