<!-- header -->
<header class="main-header -has-bg-circle -bg-circle-lg before:left-1/2 before:-translate-y-1/2 {{ className }}">
  <div class="flex justify-between items-center">
    <a href="/" class="lg">
      <img src="/images/lg-okfn.svg" class="h-[5.625rem]" alt="Open Knowledge Foundation">
    </a>

    <nav>
      <ul>
        <li>
          <a href="" class="labeled">
            <span>Who we are</span>
          </a>
        </li>
        <li>
          <a href="" class="labeled">
            <span>Tools</span>
          </a>
        </li>
        <li>
          <a href="" class="labeled">
            <span>Services</span>
          </a>
        </li>
        <li>
          <a href="" class="labeled">
            <span>Global movement</span>
          </a>
        </li>
        <li>
          <a href="" class="labeled">
            <span>News</span>
          </a>
        </li>
        <li>
          <a href="" class="icon">
            <span><img src="/images/icons/header-search.svg" alt="Search"></span>
          </a>
        </li>
        <li>
          <a href="" class="icon">
            <span><img src="/images/icons/header-globe.svg" alt="Globe"></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- /header -->