<!-- page-closing -->
<div class="page-closing {{ className }}">
    <div class="page-closing__content" style="background-image: url(/images/{{ bgImage }})">
        <div class="container">
            <div class="content">
                <div class="image">
                    <img src="/images/{{ image }}" alt="">
                </div>
                <div class="description">
                    {{> description }}
                </div>
                <a href="{{ buttonHref }}" class="btn">{{ buttonLabel }}</a>
            </div>
        </div>
    </div>
</div>
<!-- /page-closing -->