html,
body {
  @apply font-sans;
}

html {
  scroll-behavior: smooth;
}

body {
  overscroll-behavior-y: none;
}

img {
  @apply block max-w-full;
}

.true-w-full {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.root {
  @apply relative z-0 overflow-hidden min-h-screen;
}

.grid-master {
  @apply relative grid grid-cols-14 gap-2.5 mx-auto;

  max-width: 94.5rem;
}

.container {
  @apply relative grid grid-cols-12 col-start-2 col-end-14 gap-2.5 mx-auto;

  max-width: 94.5rem;
}
