.main-header {
  @apply relative z-[100] col-span-12 py-5 md:py-12;

  label {
    &.icon {
      &:active {
        @apply text-okfn-purple;
      }
    }
  }

  .submenu {
    @apply hidden absolute top-full left-1/2 px-14 py-5 font-display -translate-x-1/2 -translate-y-4 rounded-[3.75rem] whitespace-nowrap text-center font-bold border-2 border-okfn-blue bg-white/90;

    a {
      @apply block py-3;

      &:hover {
        @apply text-okfn-blue;
      }

      &:active {
        @apply text-okfn-purple;
      }
    }

    li {
      @apply relative z-10;

      ul {
        @apply -mt-2;
      }

      li {
        a {
          @apply py-2 font-normal;
        }
      }
    }

    &.-simple {
      @apply px-4 py-2 border-none bg-transparent;

      a {
        @apply py-2;
      }
    }
  }

  nav {
    @apply font-display;

    > ul {
      @apply md:flex md:gap-x-3;

      > li {
        @apply relative z-10;

        > a,
        > label {
          @apply relative flex justify-center items-center min-h-[4.375rem] font-bold text-black;

          border-radius: 2.1875rem;

          &.labeled {
            @apply px-6;
          }

          &.icon {
            @apply min-w-[4.375rem];
          }

          span {
            @apply relative z-10;
          }
        }

        &:hover {
          @apply z-0;

          .submenu {
            @apply block;
          }
        }

        &:hover,
        &.-active {
          > a,
          > label {
            @apply text-okfn-blue;

            &:hover {
              @apply text-okfn-blue;
            }

            &:active {
              @apply text-okfn-purple;
            }
          }
        }
      }
    }

    label {
      @apply cursor-pointer;

      &.icon {
        span {
          &::before {
            @apply block w-6 h-6 bg-black;

            content: '';
            mask: url(/images/icons/header-search.svg) no-repeat center;
          }
        }

        &:hover {
          span {
            &::before {
              @apply bg-okfn-blue;
            }
          }
        }
      }
    }
  }

  .-search {
    .form {
      @apply absolute top-full right-0 pt-3;

      &-control {
        @apply h-[3.125rem];
      }
    }

    &__close {
      @apply hidden w-4 text-okfn-blue;
    }

    .input-fake {
      @apply w-[28rem] pr-4 rounded-[2.1875rem] text-xl;
    }

    .switcher__indicator {
      &:checked {
        ~ .switcher__trigger {
          span {
            &::before {
              @apply w-5 h-5 bg-okfn-blue;

              mask: url(/images/icons/close.svg) no-repeat center;
              mask-size: contain;
            }
          }
        }
      }
    }
  }

  .-language {
    .icon {
      span {
        &::before {
          @apply block w-7 h-7 bg-black;

          content: '';
          mask: url(/images/icons/header-globe.svg) no-repeat center;
        }
      }
    }

    &:hover {
      .icon {
        span {
          &::before {
            @apply bg-okfn-blue;
          }
        }
      }
    }
  }
}